body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	&.navbar-default {
		background-color: transparent;
		border-color: transparent;
	}
	.navbar-brand {
		img {
			height: 2em;
		}
	}

	.navbar-nav {
		li {
			a {
				text-transform: uppercase;
				opacity: 0.7;
				font-weight: 600;
				color: #fff;
				font-size: 1.1em;
				&:hover {
					color: #fff;
					opacity: 1;
					transition: all 0.3s;
				}
			}
		}
	}
}

.header {
	position: relative;
	width: 100%;
	min-height: auto;
	background: linear-gradient(to right, #02d4a7, #01b4a0);
	color: white;
	padding: 11em 0;
	height: 600px;
	h1 {
		font-size: 4.3em;
	}
	h2 {
		font-weight: 300;
	}
	.btn-header-custom {
		color: #0bb297;
		background: #fff;
		border: 1px solid #fff;
		margin: 1.5em 0;
		transition: all 0.3s;
		&:hover, &:focus {
			background: transparent;
			color: #fff;
			border: 1px solid #fff;
		}
	}
}

.header-svg {
	position: relative;

	.sep {
		top: -99px;
		bottom: auto;
		position: absolute;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 7.2em;
		path {
			fill: #fff;
		}
	}
	svg:not(:root) {
		overflow: hidden;
	}
}

.footer {
	background: #ededed;
	img {
		padding: 5em 0;
		height: 15.5em;
	}
	.footer-nav {
		list-style: none;
		margin: 0 auto 3em auto;
		li {
			display: inline-block;
			margin-right: 1.2em;
			color: #737373;
			font-weight: 600;
			font-size: 1.1em;
			a {
				color: #737373;
				font-weight: 600;
				font-size: 1.1em;
			}
		}
	}
	.social {
		a {
			&:first-child {
				margin-left: 1em;
			}
			margin-right: 0.6em;
			font-size: 2.7em;
			color: #04c89f;
			&:hover {
				text-decoration: none;
			}
		}
	}	
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}