body {
	background: #e4eee6;
}

#navbar-center {
	&.navbar-default {
		background: linear-gradient(to right, #02d4a7, #01b4a0);
		border-color: linear-gradient(to right, #02d4a7, #01b4a0);
	}
	.navbar-header {
		left: 50%;
		position: relative;
		transform: translateX(-50%);
		.navbar-brand {
			img {
				max-height: 1.8em;
				min-height: 1.8em;
			}
		}
	}
}

#main {
	margin-top: 3.6em;
}